@import "../packages/normalize";

@import "../variables/colors";

@import "../variables/breakpoints";

@import "../variables/fonts";

@import "mixins";

:root {
  --color-bg-light-noise: #{$bg-light-noise};

  --breakpoint-xs: #{$breakpoint-xs};
  --breakpoint-sm: #{$breakpoint-sm};
  --breakpoint-md: #{$breakpoint-md};
  --breakpoint-lg: #{$breakpoint-lg};
  --breakpoint-xl: #{$breakpoint-xl};
  --breakpoint-xxl: #{$breakpoint-xxl};
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}
