.typography {
  margin: 0;
  font-family: 'Nunito', sans-serif;

  &.link {
    color: inherit;
    text-decoration: underline;
  }

  &.titleLarge {
    @include scale(
      (
        font-size: 24px,
        line-height: 24px,
        font-weight: 800,
      )
    );
  }

  &.title {
    @include scale(
      (
        font-size: 30px,
        line-height: 28px,
        font-weight: 800,
      )
    );
  }

  &.labelLarge {
    @include scale(
      (
        font-size: 17px,
        line-height: 23px,
        font-weight: 800,
      )
    );
  }

  &.label {
    @include scale(
      (
        font-size: 14px,
        line-height: 18px,
        font-weight: 800,
      )
    );
  }

  &.bodyLarge {
    @include scale(
      (
        font-size: 17px,
        line-height: 23px,
        font-weight: 500,
      )
    );
  }

  &.body {
    @include scale(
      (
        font-size: 14px,
        line-height: 18px,
        font-weight: 500,
      )
    );
  }

  &.details {
    @include scale(
      (
        font-size: 12px,
        line-height: 14px,
        font-weight: 800,
      )
    );
  }

  // COLORS
  @each $value, $color in $colorsList {
    &.color_#{$value} {
      color: $color;
    }
  }
}
