.typography {
  // margin: 0;
  // font-size: 16px;
  // font-style: normal;
  // font-weight: normal;
  // line-height: 150%;

  // @include scale(
  //   (
  //     font-size: 16px,
  //   )
  // );

  @each $property, $value in $colorsList {
    &.#{$property} {
      color: var(--color-#{$property});
    }
  }

  // &.bodySuperSmall {
  //   @include typographyBodySuperSmall;
  // }

  &.link {
    text-decoration: none;
  }
}
